.board{
    height: 700px;
    width: 700px;
    background-image: url(../img/chessboard.jpg);    
}
.header_figures__top{
    position: absolute;
    top: 82px;
    left: 75px;
}
.header_figures__bottom{
    position: absolute;
    top: 150px;
    left: 75px;
}
.footer_figures__top{
    position: absolute;
    top: 560px;
    left: 75px;
}
.footer_figures__bottom{
    position: absolute;
    top: 490px;
    left: 75px;
}
.knight_l, .pawnsB2{
    margin-left: -17px;
}
.bishop_l, .pawnsB3{
    margin-left: -12px;
}
.queen, .pawnsB4{
    margin-left: -16px;
}
.king, .pawnsB5{
    margin-left: -16px;
}
.bishop_r, .pawnsB6{
    margin-left: -15px;
}
.knight_r, .pawnsB7{
    margin-left: -17px;
}
.rook_r, .pawnsB8{
    margin-left: -12px; 
}